<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/img/favicon.png" type="image/png">
    <title>E-Medicine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*sidebar updated*@
    <link rel="stylesheet" href="~/Radiant/vendors/iconfonts/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/Radiant/vendors/iconfonts/puse-icons-feather/feather.css" />
    <link rel="stylesheet" href="~/Radiant/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/Radiant/vendors/css/vendor.bundle.addons.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/Radiant/vendors/lightgallery/css/lightgallery.css" />

    <link rel="stylesheet" href="~/Radiant/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Radiant/css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Radiant/~/Radiant/images/favicon.png" />

    
    @*sidebar updated*@
</head>

<body style="background-color:#f1f2f7">

   
    <script language="javascript">
 $(window).load(function (e) {
            $(".loader").fadeOut("slow");
        });


    </script>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row ">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <h6 style="font-size:20px;margin-top:25px">
                    @*<a class="nav-item"><span class="menu-title" style="color:white"><i class="fa fa-medkit">    P.M.S</i></span></a>*@
                    <img src="~/img/favicon.png" /> <span class="menu-title" style="color:white">E-Medicine Store</span>
                </h6>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-left">


                    <li class="nav-item dropdown ">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-money"></i>
                            <span class="count bg-success">
                                @*@ViewData["SaleToday"]*@ 2
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list align-content-center" aria-labelledby="messageDropdown">
                            <div class="dropdown-item py-3 text-white" style="background-color:darkcyan;margin-right:20px">

                                @ViewData["SaleToday"]  sales today


                            </div>

                            <a class="dropdown-item preview-item text-center bg-success text-white align-self-center" style="margin:auto;width:80%;margin-top:10px" href="/Finance/Index">
                                View All Sales
                            </a>


                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-medkit"></i>

                            <span class="count bg-success">
                                8
                                @ViewData["MedicineAddToday"]
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left navbar-dropdown preview-list align-content-center" aria-labelledby="messageDropdown">
                            <div class="dropdown-item py-3 text-white" style="background-color:darkcyan;margin-right:20px">

                                @ViewData["MedicineAddToday"] Medicine Added Today


                            </div>

                            <a class="dropdown-item preview-item text-center bg-success text-white align-self-center" style="margin:auto;width:80%;margin-top:10px" href="/Stock/Index">
                                View All Medicine
                            </a>


                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="mr-3">
                                <i class="fa fa-user-md"></i>
                                @ViewData["FullName"]
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

                            <a class="dropdown-item" href="/Staff/ChangePassword">
                                Change Password
                            </a>

                            <a class="dropdown-item" href="/">
                                Logout
                            </a>

                        </div>
                    </li>
                </ul>

                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:../../partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">


                    @*related navigation link start*@
                    <li class="nav-item"> <a class="nav-link" href="/Staff/Home"> <i class="fa  fa-tachometer" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">Dashboard</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Staff/addMedicine"> <i class="fa  fa-medkit" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">Medicine</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Staff/Inventory"> <i class="fa  fa-money" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">Inventory</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Staff/AddSales"> <i class="fa  fa-money" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">POS</span></a> </li>


                   
          
                  


                   @* <li class="nav-item"> <a class="nav-link" href="/Finance/Index"><i class="fa  fa-money" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">All Sales</span></a> </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#expense" aria-expanded="false" aria-controls="expense"> <i class="fa  fa-dollar" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">Expenses</span><i class="menu-arrow"></i></a>
                        <div class="collapse" id="expense">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Finance/ViewExpenses">Expense</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Finance/AddExpenses">Add Expense</a></li>

                                <li class="nav-item"> <a class="nav-link" href="/Finance/AddExpenseCategory">Expense Category</a></li>

                            </ul>
                        </div>
                    </li>*@
                    <li class="nav-item"> <a class="nav-link" href="/Stock/StockAlert"> <i class="fa  fa-medkit" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">Stock Alert</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Stock/ExpiryAlert"> <i class="fa  fa-medkit" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">ExpiryAlert</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/Staff/Report"> <i class="fa  fa-money" style="color:lightgray"></i>  <span class="menu-title" style="margin-left:20px">Reports</span></a> </li>

                    @*link end*@
                </ul>
            </nav>


            <!-- partial -->
            <div class="main-panel">


                <div class="loader"></div>
                <div class="content-wrapper">
                    @RenderBody()

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->



                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.urbanui.com/" target="_blank">Pharmacy Management System</a>. All rights reserved.</span>

                    </div>
                </footer>



                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Radiant/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Radiant/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/Radiant/vendors/lightgallery/js/lightgallery-all.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Radiant/js/off-canvas.js"></script>
    <script src="~/Radiant/js/hoverable-collapse.js"></script>
    <script src="~/Radiant/js/misc.js"></script>
    <script src="~/Radiant/js/settings.js"></script>
    <script src="~/Radiant/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Radiant/js/light-gallery.js"></script>

    <script src="~/Radiant/js/dashboard.js"></script>
    <!---For table -->
    <script src="~/Radiant/js/data-table.js"></script>
    <!-- End custom js for this page-->
    <script src="~/Radiant/js/modal-demo.js"></script>
    <script src="~/Radiant/js/Loaderjquery.js"></script>
    <!-- Custom js for this page-->
    @*sidebar end template body*@





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>